
*.lock
*.properties
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qnOPxTmV2fnPFzA38CsiyUOHojY=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Y7OAq_KdRpMojHR+Trz9PIg4Fjs=
*.jar
*.xcworkspacedata
*.xml
*.png
*.txt
*.so
*.ttf
*.json
*.flat
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/z3Err72x7q6h2ZxiZ1p_bJoYFSs=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZWXxjDvuZaRNY55TGtRSkirEzSc=
*.class
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/AzN8+Aekt57AG5PiBwy53H3ryoY=
*.bin
*.tsx
android/.DS_Store
android/.gradle/.DS_Store
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1GB7wqXeUg8XS0GNyi0lRE1toYE=
*.java
*.uniqueId1
*.dex
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XIWiSd0cvQld06rC1mHGtpIY9FM=
*.uniqueId2
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ytuC05vDu2bth96gn3W8NvQ586Q=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/reDX6mCF9wlSaCBmsU0e5tEV8E4=
android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/*
*.iml
*.uniqueId0
android/app/build/intermediates/dex_archive_input_jar_hashes/debug/out
*.bundle
*.probe
*.idea
*.DS_Store
android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/app/build/intermediates/dex_number_of_buckets_file/debug/out
*.ap_
android/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
android/app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
*.xcscheme
*.xcuserstate
*.env
*.pro
*.h
*.mm
*.cpp
*.m
*.keystore
*.apk
